<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
	<div class="main">  
	
		<a href="/"><h1>{{.Title}}</h1></a>   
        <!--Date--><div class="subtitle">
        {{with .PublishDate}}{{dateFormat "Monday, 1/2/06 at 3:04 PM" .}}{{end}}<br>
        <!--LastMod-->
        {{if ne .Lastmod .PublishDate}}
              Updated: {{with .Lastmod}}{{dateFormat "1/2/06 at 3:04 PM" .}} {{end}}
        {{end}}</div>
			
			<div class="content-box">
		{{with .Content}}<content>{{.}} </content>{{end}}		
	</div>

	<!--Tag-->
	<div class="tags">Tags:
		{{ range $i, $e := .Params.tags }}
		  <a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">{{ . }}</a>
				  {{ end }}
</div>

<!--Home-->
<div style="width: fit-content; margin: 2em auto auto auto; padding-bottom:5em;">
<a href="/" style="font-size: 20px;">🏠</div></div>
</body>

</html>